.ClientsMenuMenu {
   padding-top: 0.5em;
   margin-top: 1.0em;
}

.ClientsMenuItem {
  opacity: 1.0;
  fontSize: 3.0em;
  color: white;
}

.ClientsMenuHeader{
  padding-top: 1.0em;
  color: white;
}
