.ClientMenuMenu {
  padding-top: 0.5 em;
  position: relative;
  color: white;
  size: tiny;
  border: 1px dotted black;
}

.ClientMenuItem {
  opacity: 1.0;
  color: white;
  font-size: 0.8em;
  font-style: bold
}

.ClientMenuHeader{
  padding-top: 1.0em;
  color: white;
}
