.EmployeeMenuMenu {
   padding-top: 0.5 em;
   position: relative;
   color: white;
   size: tiny;
   border: 1px dotted brown;
}

.EmployeeMenuItem {
  opacity: 1.0;
  fontSize: 3.0em;
  color: white;
}

.EmployeeMenuHeader{
  padding-top: 1.0em;
  color: white;
}
