.MenuMenu {
   top: 1.0em;
   overflow: scroll;
   border: 2px dotted black;
   height: 420px;
   position: relative;
}

.MenuItem {
  opacity: 1.0;
  fontSize: 3.0em;
}

.MenuHeader{
  padding-top: 1.0em;
  color: white;
}
