.MenuMenu {
   top: 1.0em;
   overflow: scroll;
   border: 2px dotted brown;
   height: 460px;
   position: relative;
   text-align: center;
}

.MenuItem {
  opacity: 1.0;
  fontSize: 3.0em;
}

.MenuHeader{
  padding-top: 1.0em;
  color: white;
}
