.OrderMenuMenu {
   padding-top: 0.5em;
   color: black;
   size: tiny;
   height: "70%";
}

.OrderMenuItem {
  opacity: 1.0;
  font-size: 0.8em;
  color: white;
}

.OrderMenuHeader{
  padding-top: 1.0em;
  color: white;
}
