.DeliveryMenuMenu {
   padding-top: 0.5em;
   color: white;
   size: tiny;
   border: 1px dotted brown;
   height: 90px;
}

.DeliveryMenuItem {
  opacity: 1.0;
  font-size: 0.8em;
  color: white;
}

.DeliveryMenuHeader{
  padding-top: 1.0em;
  color: white;
}
