.PaymentsMenuMenu {
  padding-top: 1.0em;
   position: relative;
   color: white;
   size: tiny;
   border: 2px dotted brown;
}

.PaymentsMenuItem {
  opacity: 1.0;
  fontSize: 3.0em;
  color: white;
}

.PaymentsMenuHeader{
  padding-top: 1.0em;
  color: white;
}
