.PaymentMenuMenu {
   padding-top: 0.5em;
   color: white;
   size: tiny;
   border: 1px dotted brown;
   height: 60px;
}

.PaymentMenuItem {
  opacity: 1.0;
  font-size: 0.8em;
  color: white;
}

.PaymentMenuHeader{
  padding-top: 1.0em;
  color: white;
}
